<div>
    <nb-card *ngIf="client">
        <nb-card-body>
            <div>
              <div class="row">
                <div class="form-group row">
                    <nb-actions size="small">
                        <nb-action icon="close-outline" title="close" (click)="dismiss()"></nb-action>
                    </nb-actions>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">
                    <nb-card>
                      <nb-card-body>
                        <div class="full-name-inputs">
                            <img src="{{ client.image }}" alt="test">
                        </div>
                      </nb-card-body>
                    </nb-card>
                  </div>
                </div>
      
                <div class="col-lg-6">
                  <nb-card>
                    <nb-card-header>Client Details</nb-card-header>
                    <nb-card-body>
                      <div class="full-name-inputs">
                        <!--CLient Details-->
                        <table>
                            <tr>
                                <td class="title">Client Name:</td>
                                <td>{{ client.firstName + ' ' + client.lastName }}</td>
                            </tr>
                            <tr>
                                <td class="title">Phone:</td>
                                <td><a href='tel:{{client.phone}}'>
                                    <nb-icon 
                                      icon="phone-outline" 
                                      status="success"  
                                      pack="eva">
                                    </nb-icon>
                                  </a>
                              </td>
                            </tr>
                            <tr>
                                <td class="title">Email:</td>
                                <td><a href='mailto:{{client.email}}'>
                                      <nb-icon 
                                        icon="email-outline" 
                                        status="success"  
                                        pack="eva">
                                      </nb-icon>
                                    </a>
                                </td>
                            </tr>
                            <tr >
                                <td class="title">Address:</td>
                                <td>{{ client.address }}</td>
                            </tr>
                            <!--tr >
                                <td class="title">district:</td>
                                <td>{{ client.district }}</td>
                            </tr>
                            <tr >
                                <td class="title">city:</td>
                                <td>{{ client.city }}</td>
                            </tr-->
                            <tr>
                                <td class="title">Town:</td>
                                <td>{{ client.town }}</td>
                            </tr>
                            <!--tr >
                                <td class="title">DoB:</td>
                                <td>{{ client.dob }}</td>
                            </tr-->
                            <tr>
                                <td class="title">Sex:</td>
                                <td>{{ client.gender }}</td>
                            </tr>
                            <tr>
                                <td class="title">Interest:</td>
                                <td>{{ client.aim }}</td>
                            </tr>
                            <tr>
                                <td class="title">Emergency First Name:</td>
                                <td>{{ client.contactFName }}</td>
                            </tr>
                            <tr>
                                <td class="title">Emergency Last Name:</td>
                                <td>{{ client.contactLName }}</td>
                            </tr>
                            <tr>
                                <td class="title">Emergency Phone:</td>
                                <td><a href='tel:{{client.contactPhone}}'>
                                    <nb-icon 
                                      icon="phone-outline" 
                                      status="success"  
                                      pack="eva">
                                    </nb-icon>
                                  </a>
                              </td>
                            </tr>
                        </table>
                      </div>
                    </nb-card-body>
                  </nb-card>

                  <div class="form-group row">
                      <nb-actions size="small">
                        <nb-action icon="plus-outline" title="add subscription" (click)="onAddSubscription()"></nb-action>
                        <nb-action *ngIf="subscriptionsPresent" icon="eye-outline" title="view subscription" (click)="onViewSubscription()"></nb-action>
                        <nb-action *ngIf="subscriptionsPresent" icon="repeat-outline" title="renew subscription" (click)="onRenewSubscription()"></nb-action>
                        <nb-action *ngIf="subscriptionsPresent && selectedStatus && !selectedExpired && selectedStatus == 'Active'" icon="flash" title="freeze subscription" (click)="onFreezeSubscription()"></nb-action>
                        <nb-action *ngIf="subscriptionsPresent && selectedStatus && selectedExpired && selectedStatus == 'Active'" icon="flash" title="freeze subscription" disabled></nb-action>
                        <nb-action *ngIf="subscriptionsPresent && selectedStatus && selectedStatus == 'Frozen'" icon="flash-off-outline" title="UnFreeze subscription" (click)="onUnFreezeSubscription()"></nb-action>
                        <nb-action *ngIf="subscriptionsPresent" icon="archive-outline" title="archive subscription" (click)="onArchiveSubscription()"></nb-action>
                      
                        <nb-action *ngIf="!subscriptionsPresent" icon="eye-outline" title="view subscription" disabled></nb-action>
                        <nb-action *ngIf="!subscriptionsPresent" icon="repeat-outline" title="renew subscription" disabled></nb-action>
                        <nb-action *ngIf="!subscriptionsPresent && selectedStatus && !selectedExpired && selectedStatus == 'Active'" icon="flash" title="freeze subscription" disabled></nb-action>
                        <nb-action *ngIf="!subscriptionsPresent && selectedStatus && selectedExpired && selectedStatus == 'Active'" icon="flash" title="freeze subscription" disabled></nb-action>
                        <nb-action *ngIf="!subscriptionsPresent && selectedStatus && selectedStatus == 'Frozen'" icon="flash-off-outline" title="UnFreeze subscription" disabled></nb-action>
                        <nb-action *ngIf="!subscriptionsPresent" icon="archive-outline" title="archive subscription" disabled></nb-action>
                      </nb-actions>
                  </div>
                    <nb-card>
                      <nb-card-header>Active Subscriptions</nb-card-header>
                      <nb-card-body>
                          <nb-card-body>
                              <ng2-smart-table
                                [settings]="settings"
                                [source]="clientSubscriptions$ | async"
                                (rowSelect)="onSelected($event)"
                              >
                              </ng2-smart-table>
                            </nb-card-body>
                      </nb-card-body>
                    </nb-card>
                </div>
              </div>
            </div>
        </nb-card-body>
      </nb-card>

      <nb-card *ngIf="!client">
        <ngx-loader></ngx-loader>
      </nb-card>
    </div>