<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <!--a class="logo" href="#" (click)="navigateHome()">genesis</a-->
  </div>
  <!-- Temporarily removed ability to live change theme -->
  <!--nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary" >
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select-->
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item helpdesk">
      <a href="mailto: helpdesk@calebnicholas.com" nbButton>
          <!--nb-icon icon="email-outline"></nb-icon-->
          <span>helpdesk@calebnicholas.com</span>
      </a>
    </nb-action>
    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" 
               icon="email-outline" 
               badgeText="5"
               badgePosition="top right"
               badgeStatus="success"></nb-action>
    <nb-action class="control-item" 
               icon="bell-outline"
               badgeText="8"
               badgePosition="top right"
               badgeStatus="warning"></nb-action>
    <!---nb-action class="user-action" *nbIsGranted="['view', 'guest']" -->
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.firstName"
               [picture]="user?.image">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
