<div class="row" *ngIf="Owner && dashboard">
        <div class="col-xxl-12">
            <br />
            <div class="form-group row revenueHeader">
                <div>
                    <!--h3>Products Report</h3>
                    <h6 class="subtitle">Overview of weekly sales</h6-->
                </div>
                <div>
                    <nb-card>
                        <nb-select placeholder="Select Branch">
                            <nb-option value="1">Branch 1</nb-option>
                            <nb-option value="2">Branch 2</nb-option>
                            <nb-option value="3">Branch 3</nb-option>
                            <nb-option value="4">Branch 4</nb-option>
                        </nb-select>
                    </nb-card>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xxl-12">
                   <chart type="line" [data]="data" [options]="options" class="revenueChart"></chart>
                </div>
            </div>
            <div class="row">
                <br />
                <div class="col-xxl-12 revenueBarChart">
                    <div>
                        <h1>Best Seller</h1>
                        <h2 class="subtitle">Adidas Sweats | $430.30</h2>
                    </div>
                    <div>
                        <h1>Runner Up</h1>
                        <h2 class="subtitle">Gold Standard Whey | $540.00</h2>
                    </div>
                    <div>
                        <h1>Revenue</h1>
                        <h2 class="subtitle">$1,654</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>