<nb-card>
    <nb-card-header>Clients</nb-card-header>
    <nb-card-body>
      <nb-actions size="small">
        <nb-action *ngIf="clientsPresent" icon="eye-outline" title="view" (click)="onViewSelect()"></nb-action>
        <nb-action *ngIf="clientsPresent" icon="file-text-outline" title="edit" (click)="onDetailSelect()"></nb-action>
        <nb-action *ngIf="!clientsPresent" icon="eye-outline" title="view" disabled></nb-action>
        <nb-action *ngIf="!clientsPresent" icon="file-text-outline" title="edit" disabled></nb-action>
      </nb-actions>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <ng2-smart-table
        [settings]="settings"
        [source]="clients$ | async"
        (rowSelect)="onSelected($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  